section{
    background-color: blue;
height: 500px;
}
#navbar {
    position: fixed;
    top: 0;
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        body{
         background-color: blue;
        }
     }
 
     /* Small Devices, Tablets */
     @media only screen and (min-width : 768px) {
         body{
             background-color: green;
            }
     }